@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/poppins/700.css";

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
/* ======================================
  DARK THEME (DEFAULT ROOT)
====================================== */
:root {
  --bg-primary: #0d1117;
  --bg-secondary: #151b23;
  --bg-card: #1a222d;

  --text-primary: #fafafc;
  --text-secondary: #d0d4dc;

  --accent: #fafafc;

  --border: #1e2633;
  --hover: rgba(255, 255, 255, 0.06);
}

/* ======================================
  LIGHT THEME (APPLIED WITH .light CLASS)
====================================== */
.light {
  --bg-primary: #F5EFF1;
  --bg-secondary: #fafafc;
  --bg-card: #ffffff;

  --text-primary: #101828;
  --text-secondary: #475467;

  --accent: #101828;

  --border: #e5e7eb;
  --hover: rgba(0, 0, 0, 0.04);
}

/* Tailwind variable integration */
@theme inline {
  --color-background: var(--bg-primary);
  --color-foreground: var(--text-primary);
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background 0.3s ease, color 0.3s ease;
}